<!-- # Home Page # -->

<%- include('./layouts/header') %>

  <h1 class="title">Role Based Access Control</h1>
  <div class="tutorial-info">
    <ol class="tutorial-info">
      <li> <b> Language: </b> JavaScript </li>
      <li> <b> Frontend: </b> EJS </li>
      <li> <b> Backend: </b> Express.js </li>
      <li> <b> Database: </b> MongoDB </li>
      <li> <b>Styling: </b> Custom CSS </li>
      <li> <b> Passport.JS: </b> Local Authentication (Email, Password) </li>
      <li> <b> Roles: </b> (Admin | Moderator | Client) </li>
      <li> <b> Authorization: </b> (Admin, Moderator, & User Routes) </li>
      <li> <b> Mongoose: </b> (ORM For MongoDB)</li>
      <li> <b> Flash messages </b> </li>
      <li> <b> Mongo Store: </b> To persist login after server reboot </li>
      <li> <b> Redirect </b> to same page after login </li>
      <li> <b> Validating </b> user input at server side </li>
      <li> <b> Handling </b> HTTP Errors (40x) </li>
      <li> <b> Take </b> a <b> Tour </b> on <b> eAuth</b>...🚀 </li>
    </ol>
  </div>

  <%- include('./layouts/footer') %>